
<div class="row justify-content-center mb-lg-5">
    <!-- Contenitore flessibile per allineare cerchio e testo -->
    <div class="col-12 col-md-6 d-flex align-items-center  mt-5">

        <!-- Cerchio -->
        <div class="rounded-circle border shadow-lg d-flex align-items-center justify-content-center m-lg-5 pulse-animation" style="width: 100px; height: 100px;">
            <h1 class="text-success mb-0"><i class="fas fa-check-double"></i></h1>
        </div>
        
        <!-- Testo "Orders" -->
        <h2 class="h2 text-center ml-2">Order Confirmed <strong class="text-success">Thanks</strong></h2>
    </div>
</div>

<div class=" text-center mb-lg-5">
    <a href="/shop">
        <button class="btn btn-outline-secondary m-1"> <i class="fa fa-arrow-alt-circle-left mr-1 text-success"></i> Shop</button>
    </a>
    <a href="/orders">    
        <button class="btn btn-outline-secondary m-1"> Orders <i class="fa fa-arrow-alt-circle-right mr-1 text-success"></i></button>
    </a>    
</div>
