<section class="container py-5">
    <div class="row text-center pt-3 mb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Hello <strong class="text-success">{{userInfo?.name}} {{userInfo?.surname}}</strong></h1>
        </div>
    </div>

   
    <div class="row justify-content-center">

        
        <div class="col-12 col-md-4 mt-3 text-center">
            <div class="rounded-circle border shadow-lg d-flex align-items-center justify-content-center" style="width: 350px; height: 350px; margin: 0 auto;">
                <h1 class="display-1 text-success mb-0">{{ordersCount}}</h1>
            </div>
            <h5 class="text-center mt-3 mb-0 h2">Orders</h5>
        </div>

        
        <div class="col-12 col-md-4 mt-3 text-center">
            <div class="rounded-circle border shadow-lg d-flex align-items-center justify-content-center" style="width: 350px; height: 350px; margin: 0 auto;">
                <a href="/orders">
                    <img
                        src="https://i.imgur.com/p3Wmoq8.png"
                        class="rounded-circle img-fluid "
                        alt="My Orders"
                        style="max-width: 350px;"
                    />
                </a>
            </div>
            <h5 class="text-center mt-3 mb-0 h2">My Orders</h5>
        </div>
    </div>
</section>
