<!-- Start Footer -->
<footer class="bg-light"  id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-center  pb-3  logo"> <img
                    [src]="'./assets/img/logo1-bg.png'"
                    width="220 px"
                    
                  /></h2>
                
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light" style="border-color: #59ab6e !important;">Ai Assistant</h2>
                <ul class="list-unstyled text-success footer-link-list">
                    <li><a class=" text-secondary text-decoration-none" href="https://ollama.com/">Ollama</a></li>
                    <li><a class=" text-secondary text-decoration-none" href="https://ollama.com/library/gemma3:4b">Gemma3</a></li>                    
                </ul>           
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light" style="border-color: #59ab6e !important;">Pages</h2>
                <ul class="list-unstyled text-success footer-link-list">
                    <li><a class=" text-secondary text-decoration-none" href="/home">Home</a></li>
                    <li><a class=" text-secondary text-decoration-none" href="/shop">Shop</a></li>                    
                </ul>
            </div>

        </div>

       
    </div>

    

</footer>
<!-- End Footer -->
